@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Rent-A-Car Web Application</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            To add, edit or delete any cars from the list, please go to <a href="@Url.Action("Index", "Cars")" class="elements"><span>Cars</span></a>
        </p> 

        
    </div>
</div>